html, body {
  height: 100%;
  padding-top: 28px;
}

.hero {
  background: linear-gradient(135deg, #007BFF, #0D6EFD); /* Blue gradient background */
  color: white;
}

.feature-box {
  transition: transform 0.3s ease;
}

.feature-box:hover {
  transform: translateY(-10px); /* Hover effect to make features pop */
}

.instruction-box {
  background-color: #f7f7f7;
  border-radius: 10px;
  padding: 20px;
  margin: 10px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cta {
  background-color: #0358d8;
  color: white;
  padding: 60px 0;
  
}

.cta .btn {
  padding: 15px 40px;
  font-size: 18px;
  border-radius: 25px;
}




.text-underline {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-color: #007bff;
  }
  
  .results-popup h3 {
    color: #007bff;
    font-weight: bold;
  }
  
  .results-popup p {
    font-size: 1.2rem;
  }
  

  /* Add this in your CSS file or in a <style> tag in your component */
.navbar-nav .nav-link {
  transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover {
  color: #f39c12; /* Change color on hover (you can customize this) */
  text-decoration: underline;
}
